<ion-view view-title="{{lng_menu_settings}}">
  <ion-content>
	<div class="list">
        <div class="item item-divider"> 
         {{lng_settings}}
        </div>
		<div class="item item-toggle">
	     {{lng_push_notification}}
	     <label class="toggle toggle-{{color}}">
	       <input type="checkbox" ng-model="pushNotification.checked" ng-change="pushNotificationChange()">
		   <div class="track">
	         <div class="handle"></div>
	       </div>
	     </label>
		</div>
		<div class="item item-toggle">
	     {{lng_show_images}}
	     <label class="toggle toggle-{{color}}">
	       <input type="checkbox" ng-model="loadImages.checked" ng-change="loadImagesChange()">
		   <div class="track">
	         <div class="handle"></div>
	       </div>
	     </label>
		</div>		
        <div class="item item-divider"> 
          {{lng_options}}
        </div>
		<div class="item option" ng-click="rateApp()">
		 <span class="title">{{lng_rate_this_app}}</span>
		</div>
		<div class="item option" ng-click="feedback()">
		 <span class="title">{{lng_send_feedback}}</span>
		</div>
		<!--<div class="item option" ng-click="sendSMS()">
		 <span class="title">{{lng_send_sms}}</span>
		</div>	-->		
	</div>    
  </ion-content>
</ion-view>
